<mat-toolbar class="support">
    <mat-icon fontSet="material-icons-outlined">headset_mic</mat-icon>
    <span>Accéder au support </span> <mat-icon fontSet="material-icons-outlined">phone</mat-icon> <span>+237 670 55 76 65</span>
  </mat-toolbar>
  
  <mat-toolbar class="navbar">
    <img src="assets/images/MyPossa.png" class="logo" routerLink="/home">
    <span>
      <ul>
        <li [matMenuTriggerFor]="menu">Solutions<mat-icon class="inline-icon">keyboard_arrow_down</mat-icon>
          <mat-menu #menu="matMenu">
            <button mat-menu-item class="menu1">MyPossa Pay</button>
            <button mat-menu-item class="menu1">MyPossa Callbox</button>
          </mat-menu>
        </li>
        <li>Documentation</li>
        <li>Tarifs</li>
      </ul>
    </span>
    <span>
      <button>FR</button>
      <button class="signup0">Inscription</button>
      <button class="signin0">Connexion</button>
    </span>
  </mat-toolbar>