.footer {
    background-color: #0099CB;
    display: flex;
    padding: 5vh 5vw;
    color: white;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo {
    height: 27px;
}
h3 {
    font-weight: 500;
    color:#8ee3ff;
    font-size: 1.25em;
}

.socials {
    height: 40px;
    padding : 10px 10px;
}
p {
    font-size: 1.1em;
}
.inner {
    width: 250px;
    margin-bottom: 30px;
}
@media only screen and (max-width: 555px){
    .footer {
        padding: 5vh 30px 5vh 15vw;
    }
}