<div class="footer">
    <div class="inner">
        <h3>{{'FOOTER.CONTACT' | translate}}</h3>
        <p>support@mypossa.com</p>
        <a routerLink="/"><img src="assets/images/MyPossa3.png" class="logo"></a><br>
        <a href="https://web.facebook.com/mypossa/?_rdc=1&_rdr"><img src="assets/social_media/facebook-w.svg" class="socials"></a>
        <a href="https://twitter.com/mypossa?lang=fr"><img src="assets/social_media/twitter-w.svg" class="socials"></a>
        <a href="https://www.youtube.com/channel/UCFHhOvMnPtQm1YnzpDkD0CQ"><img src="assets/social_media/youtube-w.svg" class="socials"></a>
    </div>
    <div class="inner">
        <h3>{{'FOOTER.SERVICES' | translate}}</h3>
        <a routerLink="/services"><h4>{{'SERVICES.BILL' | translate}}</h4></a>
        <a routerLink="/services"><h4>{{'SERVICES.TRF' | translate}}</h4></a>
        <a routerLink="/services"><h4>{{'SERVICES.XAF' | translate}}</h4></a>
    </div>
    <div class="inner">
        <h3>{{'FOOTER.ABOUT' | translate}}</h3>
        <a routerLink="/about-us"><h4>{{'FOOTER.US' | translate}}</h4></a>
        <a routerLink="/agreement"><h4>{{'FOOTER.CONDITIONS' | translate}}</h4></a>
        <a routerLink="/help"><h4>{{'FOOTER.HELP' | translate}}</h4></a>
        <a routerLink="/privacy"><h4>{{'FOOTER.LEGAL' | translate}}</h4></a>
    </div>
    <div class="inner">
        <h3>{{'FOOTER.DEV' | translate}}</h3>
        <a routerLink="/docs"><h4>{{'FOOTER.DOC' | translate}}</h4></a>
    </div>
            <div class="rights">
                <hr>
                <p class="cr">2021 MyPossa. {{ 'OTHERS.RIGHTS' | translate}}</p>
            </div>
</div>
