<div class="footer">
    <div class="inner"> 
        <h3>Contact</h3>
        <p>support@mypossa.com</p>
        <a routerLink="/"><img src="assets/images/MyPossa3.png" class="logo"></a><br>
        <a href="http://facebook.com"><img src="assets/social_media/facebook-w.svg" class="socials"></a>
        <a href="http://twitter.com"><img src="assets/social_media/twitter-w.svg" class="socials"></a>
        <a href="http://youtube.com"><img src="assets/social_media/youtube-w.svg" class="socials"></a>
    </div>
    <div class="inner">
        <h3>Nos Services</h3>
        <h4>Paiement des factures</h4>
        <h4>Transfert d'argent</h4>
        <h4>Crédit téléphonique</h4>
    </div>
    <div class="inner">
        <h3>A Propos</h3>
        <a routerLink="/about-us"><h4>Entreprise</h4></a>
        <a routerLink="/agreement"><h4>Conditions générales</h4></a>
        
    </div>
    <div class="inner">
        <h3>Développeurs</h3>
        <h4>Documentation</h4>
    </div>
            <div class="rights">
                <hr>
                <p class="cr">2021 MyPossa. {{ 'OTHERS.RIGHTS' | translate}}</p>
            </div>
</div>
