.footer {
    background-color: #0099CB;
    height: 300px;
    display: flex;
    padding: 30px;
    color: white;
    justify-content: space-between;
}
.logo {
    height: 40px;
}
h3 {
    font-weight: 500;
    color:#8ee3ff;
    font-size: 1.25em;
}

.socials {
    height: 40px;
    padding : 10px 10px;
}
p {
    font-size: 1.1em;
}