<div class="header">
    <object data="assets/images/agreement.svg" ></object>
        <p class="heading">{{'HEADER.HOMEHEADING' | translate}}</p>
</div>
<div class="container sp1">
    <p>{{ 'AGREEMENT.P1' | translate }}</p>
    <p>{{ 'AGREEMENT.P2' | translate }}</p>
    <p><strong>{{ 'AGREEMENT.P3' | translate }}</strong></p>
    <p>{{ 'AGREEMENT.P32' | translate }}</p>
    <p><strong>{{ 'AGREEMENT.P4' | translate }}</strong></p>
    <p>{{ 'AGREEMENT.P42' | translate }}</p>
    <p><strong>{{ 'AGREEMENT.P5' | translate }}</strong></p>
    <p>{{ 'AGREEMENT.P52' | translate }}</p>
    <p><strong>{{ 'AGREEMENT.P6' | translate }}</strong></p>
    <p>{{ 'AGREEMENT.P62' | translate }}</p>
    <ul><li>{{ 'AGREEMENT.P63' | translate }}</li>
        <li>{{ 'AGREEMENT.P64' | translate }}</li></ul>
    <p><strong>{{ 'AGREEMENT.P7' | translate }}</strong></p>
    <p>{{ 'AGREEMENT.P72' | translate }}</p>
    <p><strong>{{ 'AGREEMENT.P8' | translate }}</strong></p>
    <p>{{ 'AGREEMENT.P82' | translate }}</p>
    <p><strong>{{ 'AGREEMENT.P9' | translate }}</strong></p>
    <p>{{ 'AGREEMENT.P92' | translate }}<strong>{{ 'AGREEMENT.P93' | translate }}</strong>{{ 'AGREEMENT.P94' | translate }}</p>
    <p><strong>{{ 'AGREEMENT.P10' | translate }}</strong></p>
    <p>{{ 'AGREEMENT.P102' | translate }}</p>
    <p><strong>{{ 'AGREEMENT.P11' | translate }}</strong></p>
    <p>{{ 'AGREEMENT.P112' | translate }}</p>
    <hr>
    <p><strong>{{ 'AGREEMENT.P12' | translate }}</strong></p>
    <p>{{ 'AGREEMENT.P122' | translate }}</p>

        <ol>
            <li><h4>{{ 'AGREEMENT.P123' | translate }}</h4>
                {{ 'AGREEMENT.P124' | translate }}<br>
                {{ 'AGREEMENT.P125' | translate }}<br>
                {{ 'AGREEMENT.P126' | translate }}<br>
                {{ 'AGREEMENT.P127' | translate }}<br>
                {{ 'AGREEMENT.P128' | translate }}<br>
                {{ 'AGREEMENT.P129' | translate }}<br>
                {{ 'AGREEMENT.P1292' | translate }}<br>
                {{ 'AGREEMENT.P1293' | translate }}<br>
                {{ 'AGREEMENT.P1294' | translate }}<br>
                {{ 'AGREEMENT.P1295' | translate }}<br>
                {{ 'AGREEMENT.P1296' | translate }}<br>
                {{ 'AGREEMENT.P1297' | translate }}<br>
                {{ 'AGREEMENT.P1298' | translate }}<br>
                {{ 'AGREEMENT.P1299' | translate }}<br>
                {{ 'AGREEMENT.P12992' | translate }}<br>
                {{ 'AGREEMENT.P12993' | translate }}<br>
                {{ 'AGREEMENT.P12994' | translate }}<br>
                {{ 'AGREEMENT.P12995' | translate }}<br>
                {{ 'AGREEMENT.P12996' | translate }}<br>
                {{ 'AGREEMENT.P12997' | translate }}<br>
                {{ 'AGREEMENT.P12998' | translate }}<br>
                {{ 'AGREEMENT.P12999' | translate }}<br>
                {{ 'AGREEMENT.P13000' | translate }}<br></li>
            <br><li>
                <h4>{{ 'AGREEMENT.P1B' | translate }}</h4>
                {{ 'AGREEMENT.P1B1' | translate }}<br>
            </li>
            <br><li>
                <h4>{{ 'AGREEMENT.P1C' | translate }}</h4>
                {{ 'AGREEMENT.P1C1' | translate }}<br>
                {{ 'AGREEMENT.P1C2' | translate }}<br>
                {{ 'AGREEMENT.P1C3' | translate }}<br>
                {{ 'AGREEMENT.P1C4' | translate }}<br>
            </li>
            <br><li>
                <h4>{{ 'AGREEMENT.P1D' | translate }}</h4>
                {{ 'AGREEMENT.P1D1' | translate }}<br>
                {{ 'AGREEMENT.P1D2' | translate }}<br>
                {{ 'AGREEMENT.P1D3' | translate }}<br>
            </li>
            <br><li>
                <h4>{{ 'AGREEMENT.P1E' | translate }}</h4>
                {{ 'AGREEMENT.P1E1' | translate }}<br>
                {{ 'AGREEMENT.P1E2' | translate }}<br>
                {{ 'AGREEMENT.P1E3' | translate }}<br>
                {{ 'AGREEMENT.P1E4' | translate }}<br>
                {{ 'AGREEMENT.P1E5' | translate }}<br>
                {{ 'AGREEMENT.P1E6' | translate }}<br>
                {{ 'AGREEMENT.P1E7' | translate }}<br>
                {{ 'AGREEMENT.P1E8' | translate }}<br>
                {{ 'AGREEMENT.P1E9' | translate }}<br>
                <ul>
                    <li>{{ 'AGREEMENT.P1E9A1' | translate }}</li>
                    <li>{{ 'AGREEMENT.P1E9A2' | translate }}</li>
                    <li>{{ 'AGREEMENT.P1E9A3' | translate }}</li>
                </ul>
                {{ 'AGREEMENT.P1E10' | translate }}<br>
                <ul>
                    <li>{{ 'AGREEMENT.P1E10A1' | translate }}</li>
                    <li>{{ 'AGREEMENT.P1E10A2' | translate }}</li>
                    <li>{{ 'AGREEMENT.P1E10A3' | translate }}</li>
                    <li>{{ 'AGREEMENT.P1E10A4' | translate }}</li>
                    <li>{{ 'AGREEMENT.P1E10A5' | translate }}</li>
                    <li>{{ 'AGREEMENT.P1E10A6' | translate }}</li>
                    <li>{{ 'AGREEMENT.P1E10A7' | translate }}</li>
                </ul>
                {{ 'AGREEMENT.P1E11' | translate }}<br>
                <ul>
                    <li>{{ 'AGREEMENT.P1E11A1' | translate }}</li>
                    <li>{{ 'AGREEMENT.P1E11A2' | translate }}</li>
                </ul>
                {{ 'AGREEMENT.P1E12' | translate }}<br>
                {{ 'AGREEMENT.P1E13' | translate }}<br>
                {{ 'AGREEMENT.P1E14' | translate }}<br>
            </li>
    </ol>

</div>
