div {
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
}
object {
    max-height: 250px;
}
h3 {
    font-weight: 500;
    font-size: 2.9em;
    color: rgba(0,150,212,1);
}
h1 {
    font-weight: 700;
    font-size: 3.7em;
    color:  rgba(93,42,255,1);
    line-height: 1em;
}
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 30px;
    }
}

