<div id="pricing" class="section md-padding">
    <!-- Container -->
    <div class="container">
      <div class="section-header text-center">
    <h2>{{'PRICING.H2' | translate}}</h2>
    <h1>{{'PRICING.H1' | translate}}</h1>
      </div>
      <!-- Row -->
      <div class="row">

        <!-- Section header -->

        <!-- /Section header -->

        <!-- pricing -->
        <div class="col-sm-4">
          <div class="pricing">
            <div class="price-head">
              <span class="price-title">{{'PRICING.P1TITLE' | translate}}</span>
              <div class="price">
                <h3>{{'PRICING.P1PRICE' | translate}}<span class="duration">{{'PRICING.CURR' | translate}}</span></h3>
              </div>
            </div>
            <ul class="price-content">
              <li>
                <p>{{'PRICING.P1T1' | translate}}</p><hr>
              </li>
              <li>
                <p>{{'PRICING.P1T2' | translate}}</p>
              </li>
            </ul>
            <div class="price-btn">
              <a href="https://play.google.com/store/apps/details?id=com.mypossa.starter"><button class="outline-btn">{{'PRICING.MORE' | translate}}</button></a>
            </div>
          </div>
        </div>
        <!-- /pricing -->

        <!-- pricing -->
        <div class="col-sm-4">
          <div class="pricing">
            <div class="price-head">
              <span class="price-title">{{'PRICING.P2TITLE' | translate}}</span>
              <div class="price">
                <h3>{{'PRICING.P2PRICE' | translate}}<span class="duration">{{'PRICING.CURR' | translate}}</span></h3>
              </div>
            </div>
            <ul class="price-content">
              <li>
                <p>{{'PRICING.P2T1' | translate}}</p><hr>
              </li>
              <li>
                <p>{{'PRICING.P2T2' | translate}}</p>
              </li>
            </ul>
            <div class="price-btn">
              <a href="https://play.google.com/store/apps/details?id=com.mypossa.starter"><button class="outline-btn">{{'PRICING.MORE' | translate}}</button></a>
            </div>
          </div>
        </div>
        <!-- /pricing -->

        <!-- pricing -->
        <div class="col-sm-4">
          <div class="pricing">
            <div class="price-head">
              <span class="price-title">{{'PRICING.P3TITLE' | translate}}</span>
              <div class="price">
                <h3>{{'PRICING.P3PRICE' | translate}}<span class="duration">{{'PRICING.CURR' | translate}}</span></h3>
              </div>
            </div>
            <ul class="price-content">
              <li>
                <p>{{'PRICING.P3T1' | translate}}</p><hr>
              </li>
              <li>
                <p>{{'PRICING.P3T2' | translate}}</p>
              </li>
            </ul>
            <div class="price-btn">
              <a href="https://play.google.com/store/apps/details?id=com.mypossa.starter"><button class="outline-btn">{{'PRICING.MORE' | translate}}</button></a>
            </div>
          </div>
        </div>
        <!-- /pricing -->

      </div>
      <!-- Row -->

    </div>
    <!-- /Container -->

  </div>