.container {
    display: flex;
    justify-content: center;
    max-width: 700px;
    margin: auto;
}
.parent {
    display: flex;
    flex-direction: column;
    background-color: #EBEBEB;
    text-align: center;
    padding: 20px 0 40px 0;
}