<mat-drawer-container>
    <mat-drawer #drawer mode="over" class="navside">
        <mat-toolbar>
            <object data="assets/images/MyPossa.png" class="logo" (click)="drawer.toggle()"></object>     
        </mat-toolbar>
        <h3 class="sidemenu">Nos Services</h3>
        <mat-nav-list>
            <a mat-list-item routerLink="">Paiement des factures</a>
            <a mat-list-item routerLink="">Transfert d'argent</a>
            <a mat-list-item routerLink="">Crédit téléphonique</a>
        </mat-nav-list>
        <br>
        <mat-nav-list>
            <a mat-list-item routerLink="">{{'HEADER.SER' | translate}}</a>
            <a mat-list-item routerLink="">{{'HEADER.TARIF' | translate}}</a>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
    <mat-toolbar class="support" fxShow="false" fxShow.gt-sm>
        <mat-icon fontSet="material-icons-outlined">headset_mic</mat-icon>
        <span>{{'SUPPORT.ACCESS' | translate}} </span> <mat-icon fontSet="material-icons-outlined">phone</mat-icon> <span>+237 670 55 76 65</span>
    </mat-toolbar>
    
    <mat-toolbar class="navbar"> 
       <div> <mat-icon class="menu0" (click)="drawer.toggle()"fxHide="false" fxHide.gt-sm>menu</mat-icon>
    <object data="assets/images/MyPossa.png" class="logo" routerLink="/"></object></div>
    <span class="links" fxShow="false" fxShow.gt-sm>
        <ul>
        <li>{{'HEADER.SOL' | translate}}</li>
        <li>{{'HEADER.SER' | translate}}</li>
        <li href="#pricing">{{'HEADER.TARIF' | translate}}</li>
        </ul>
    </span>
    <span class="trans">
        <mat-icon aria-hidden="false">language</mat-icon>
            <select #langselect (change)="translate.use(langselect.value)" class="selectLang">
              <option *ngFor="let lang of translate.getLangs()" [ngValue]="lang" [selected]="lang === translate.currentLang">
                {{ lang }}
              </option>
            </select>
        <button mat-flat-button color="accent" class="btn0 btn1" fxShow="false" fxShow.gt-sm>{{'HEADER.HOMESIGNUP' | translate}}</button>
        <button mat-stroked-button color="primary" class="btn0" fxShow="false" fxShow.gt-sm>{{'HEADER.SIGNIN' | translate}}</button>
    </span>
    </mat-toolbar>

    <router-outlet></router-outlet>
    </mat-drawer-content>

</mat-drawer-container>