<mat-toolbar class="support">
  <mat-icon fontSet="material-icons-outlined">headset_mic</mat-icon>
  <span>Accéder au support </span> <mat-icon fontSet="material-icons-outlined">phone</mat-icon> <span>+237 670 55 76 65</span>
</mat-toolbar>

<mat-toolbar class="special-flex">
  <img src="assets/images/MyPossa.png" class="logo">
  <span>
    <ul>
      <li>Solutions</li>
      <li>Documentation</li>
      <li>Tarifs</li>
    </ul>
  </span>
  <span>
    <button mat-button >Langue</button>
    <button class="signup0">Inscription</button>
    <button class="signin0">Connexion</button>
  </span>
</mat-toolbar>

<router-outlet></router-outlet>

<div class="footer">
<div class="inner_footer"><img src="assets/images/MyPossa3.png" class="logo"></div>
<div class="inner_footer">Logo</div>
<div class="inner_footer">Logo</div>
<div class="inner_footer">Logo</div>
<div class="inner_footer">Logo</div>
</div>