section {
    background-color: #EBEBEB;
    text-align: center;
    padding: 30px 10vw;
    margin: auto;
}
/* .services {
    display: grid;
    grid-template-columns: repeat(auto-fill, 270px);
    column-gap: 5vw;
    row-gap: 5vw;
    margin-top: 40px;
    justify-content: center;
    margin-bottom: 5vw;
} */
.services {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.service {
    width: 270px;
    margin: 5vw;
    padding: 10px;
    transition: 0.3s;
    border-radius: 20px;
    transition: .3s all ease-in-out;
}
.service:hover {
    transform: scale(1.1);
}
img {
    height: 100px;
}
h4 {
    font-weight: 600;
    font-size: 1.4em;
    color: #5D2AFF;
}
p {
    font-size: 1.25em;
}