<section>
    <h2>Nos Services</h2>
    <div class="services">
        <div>
            <img alt="Facture" src="assets/images/facture.svg">
            <h4>Paiement des factures</h4>
            <p>Payer vos factures d'eau CAMWATER ,d'électricité ENEO et activer votre abonnement CANAL+!</p>
        </div>
        <div>
            <img alt="Facture" src="assets/images/transfer.svg">
            <h4>Transfert d'argent</h4>
            <p>Dépot et retrait d'argent MOMO /Orange Money, transfert d'argent MyPossa gratuit</p>
        </div>
        <div>
            <img alt="Facture" src="assets/images/credit.svg">
            <h4>Credit téléphonique</h4>
            <p>Achat de crédit téléphonique et Data Internet partout dans le monde !</p>
        </div>
    </div>
</section>
