<section id="services">
    <h2>{{'SERVICES.H2' | translate}}</h2>
    <h1>{{'SERVICES.HEADING' | translate}}</h1>
    <div class="services">
        <div class="service">
            <span class="icon"><img alt="Facture" src="assets/images/bill.svg"></span>
            <h4>{{'SERVICES.BILL' | translate}}</h4>
            <p>{{'SERVICES.BILLSUB' | translate}}</p>
        </div>
        <div class="service">
            <span class="icon"><img alt="Facture" src="assets/images/transfer.svg"></span>
            <h4>{{'SERVICES.TRF' | translate}}</h4>
            <p>{{'SERVICES.TRFSUB' | translate}}</p>
        </div>
        <div class="service">
            <span class="icon"><img alt="Facture" src="assets/images/airtime.svg"></span>
            <h4>{{'SERVICES.XAF' | translate}}</h4>
            <p>{{'SERVICES.XAFSUB' | translate}}</p>
        </div>
    </div>
</section>
