<section>
    <h2>{{'SERVICES.HEADING' | translate}}</h2>
    <div class="services">
        <div class="service">
            <img alt="Facture" src="assets/images/facture.svg">
            <h4>{{'SERVICES.BILL' | translate}}</h4>
            <p>{{'SERVICES.BILLSUB' | translate}}</p>
        </div>
        <div class="service">
            <img alt="Facture" src="assets/images/transfer.svg">
            <h4>{{'SERVICES.TRF' | translate}}</h4>
            <p>{{'SERVICES.TRFSUB' | translate}}</p>
        </div>
        <div class="service">
            <img alt="Facture" src="assets/images/credit.svg">
            <h4>{{'SERVICES.XAF' | translate}}</h4>
            <p>{{'SERVICES.XAFSUB' | translate}}</p>
        </div>
    </div>
</section>
