.solutions {
    text-align: center;
    padding: 15px 10vw;
}
.parent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

}
.sol {
    width: 250px;
    margin: 5vw;
}
img {
    max-height: 100px;
    margin-bottom: 20px;
}
h4 {
    font-weight: 600;
    font-size: 1.4em;
    color: #0099CB;
}
p {
    font-size: 1.3em;
}
