<div class="solutions">
    <h2>Nos Solutions</h2>
    <div class="parent">
        <div><img src="assets/images/POS.svg">
            <h4>TPE Mobile</h4>
            <p>Solution d'encaisement des paiements.</p>  
        </div>
        <div><img src="assets/images/Pay.svg">
            <h4>MyPossa Pay</h4>
            <p>Solution pour commerçant de paiement en ligne avec l'API</p>
        </div>
        <div><img src="assets/images/callbox.svg">
            <h4>MyPossa Callbox</h4>
            <p>Disponible pour les agents mobile money</p>
        </div>
        <div><img src="assets/images/tontine.svg">
            <h4>MyPossa Tontine</h4>
            <p>Gestionnaire de tontine pour les associations</p>
        </div>
        <div><img src="assets/images/Xaf-transfer.svg">
            <h4>MyPossa Diaspora</h4>
            <p>Envoyez de l'argent ou du crédit à vos proches depuis l'étranger</p>
        </div>
        <div><img src="assets/images/virtualcard.svg">
            <h4>Carte Virtuelle</h4>
            <p>Nous mettons à votre disposition des cartes virtuelles VISA ou Mastercard pour vos paiements en ligne</p>
        </div>
    </div>
</div>