<section id="solutions">
<div class="solutions">
    <h2>{{ 'SOLUTIONS.H2' | translate }}</h2>
    <h1>{{ 'SOLUTIONS.H1' | translate }}</h1>
    <div class="parent">
        <div class="sol"><img src="assets/images/pos2.svg">
            <h4>{{ 'SOLUTIONS.TPE' | translate }}</h4>
            <p>{{ 'SOLUTIONS.TPESUB' | translate }}</p>  
        </div>
        <div class="sol"><img src="assets/images/pay2.svg">
            <h4>{{ 'SOLUTIONS.PAY' | translate }}</h4>
            <p>{{ 'SOLUTIONS.PAYSUB' | translate }}</p>
        </div>
        <div class="sol"><img src="assets/images/callbox2.svg">
            <h4>{{ 'SOLUTIONS.CALLBOX' | translate }}</h4>
            <p>{{ 'SOLUTIONS.CALLBOXSUB' | translate }}</p>
        </div>
        <div class="sol"><img src="assets/images/savemoney2.svg">
            <h4>{{ 'SOLUTIONS.TONTINE' | translate }}</h4>
            <p>{{ 'SOLUTIONS.TONTINESUB' | translate }}</p>
        </div>
        <div class="sol"><img src="assets/images/diaspora2.svg">
            <h4>{{ 'SOLUTIONS.DIASPORA' | translate }}</h4>
            <p>{{ 'SOLUTIONS.DIASPORASUB' | translate }}</p>
        </div>
        <div class="sol"><img src="assets/images/card2.svg">
            <h4>{{ 'SOLUTIONS.VCARD' | translate }}</h4>
            <p>{{ 'SOLUTIONS.VCARDSUB' | translate }}</p>
        </div>
    </div>
</div>
</section>