<div class="solutions">
    <h1>Nos Solutions</h1>
    <div class="parent">
        <div class="sol"><img src="assets/images/pos2.svg">
            <h4>TPE Mobile</h4>
            <p>Solution d'encaisement des paiements.</p>  
        </div>
        <div class="sol"><img src="assets/images/pay2.svg">
            <h4>MyPossa Pay</h4>
            <p>Solution pour commerçant de paiement en ligne avec l'API</p>
        </div>
        <div class="sol"><img src="assets/images/callbox2.svg">
            <h4>MyPossa Callbox</h4>
            <p>Disponible pour les agents mobile money</p>
        </div>
        <div class="sol"><img src="assets/images/savemoney2.svg">
            <h4>MyPossa Tontine</h4>
            <p>Gestionnaire de tontine pour les associations</p>
        </div>
        <div class="sol"><img src="assets/images/diaspora2.svg">
            <h4>MyPossa Diaspora</h4>
            <p>Envoyez de l'argent ou du crédit à vos proches depuis l'étranger</p>
        </div>
        <div class="sol"><img src="assets/images/card2.svg">
            <h4>Carte Virtuelle</h4>
            <p>Nous mettons à votre disposition des cartes virtuelles VISA ou Mastercard pour vos paiements en ligne</p>
        </div>
    </div>
</div>