<section id="testimonials">
    <h2>{{'TESTIMONIALS.H2' | translate}}</h2>
    <h1>{{'TESTIMONIALS.H1' | translate}}</h1>
    <div class="cont">
            <div class="testimonial">
                <div class="image"><img src="/assets/images/fille.png" alt=""></div>
                    <blockquote>
                        <p>{{ 'TESTIMONIALS.C1'| translate }}</p>
                    </blockquote>
            </div>

            <div class="testimonial">
                <div class="image"><img src="/assets/images/fille.png" alt=""></div>
                    <blockquote>
                        <p>{{ 'TESTIMONIALS.C2'| translate }}</p>
                    </blockquote>
            </div>

            <div class="testimonial">
                <div class="image"><img src="/assets/images/fille.png" alt=""></div>
                    <blockquote>
                        <p>{{ 'TESTIMONIALS.C3'| translate }}</p>
                    </blockquote>
            </div>
    </div>
</section>
