<div class="header">
    <div class="header-text">
        <p class="heading1">{{'HEADER.HOMEHEADING' | translate}}</p>
        <p class="heading2">{{'HEADER.HOMESUB' | translate}}</p>
        <button mat-stroked-button color="accent" class="signup">{{'HEADER.HOMESIGNUP' | translate}}</button>
    </div>
    <object data="assets/images/Home01.svg" class="header-img"></object>
  </div>

  <app-partners></app-partners>
  <app-our-solutions></app-our-solutions>
  <app-our-services></app-our-services>
  <div class="map">
    <img src="assets/images/cartefr.jpg" alt="map">
</div>
  <app-footer></app-footer>