<div class="header">
    <div class="header-text">
        <p class="heading1">MyPossa, votre carte visa en Afrique par Mobile Money pour les paiements en ligne.</p>
        <p class="heading2">MyPossa vous offre l'opportunité d'acquérir une carte virtuelle Visa pour payer en ligne depuis l'Afrique à partir d'Orange Money, Mobile Money et bien d'autres. Ouvrez votre compte dès aujourd'hui et commencez à envoyer et recevoir de l'argent dans le monde entier.</p>
        <button mat-stroked-button color="accent" class="signup">S'inscrire</button>
    </div>
    <object data="assets/images/Home01.svg" class="header-img"></object>
  </div>

  <app-partners></app-partners>
  <app-our-solutions></app-our-solutions>
  <app-our-services></app-our-services>
  <div class="map">
    <img src="assets/images/cartefr.jpg" alt="map">
</div>
  <app-footer></app-footer>