<div class="header">
    <div class="header-text">
        <p class="heading1">{{'HEADER.HOMEHEADING' | translate}}</p>
        <p class="heading2">{{'HEADER.HOMESUB' | translate}}</p>
        <a href="https://play.google.com/store/apps/details?id=com.mypossa.starter"><img src="{{'SUPPORT.LINK' | translate}}"  class="download" alt="Google Play"></a>
    </div>
    <object data="assets/images/Home01.svg" class="header-img" fxHide="false" fxHide.xs></object>
  </div>

  <app-partners></app-partners>
  <app-our-solutions></app-our-solutions>
  <app-our-services></app-our-services>
  <app-testimonials></app-testimonials>
  <app-pricing></app-pricing>
  <div class="map">
    <div class="text">
      <h1>{{'MAP.H1' | translate}}</h1>
      <h2>{{'MAP.H2' | translate}}</h2>
      <h3>{{'MAP.H3' | translate}}</h3>
    </div>
    <object data="assets/images/carte.svg" fxShow="false" fxShow.gt-md></object>
</div>
